{% extends 'base.html.twig' %}

{% block title %}AboutUs{% endblock %}


{% block body %}
<div class="home-preview">
    {% include 'partials/_about_section.html.twig' with {
        about: aboutUs
    } %}
</div>
    <a href="{{ path('app_administrator_about_us_index') }}">back to list</a>

    <a href="{{ path('app_administrator_about_us_edit', {'id': aboutUs.id}) }}">edit</a>

    {{ include('administrator/about_us/_delete_form.html.twig') }}
{% endblock %}
